<form class="container mt-3">
    <h3 class="ui header">Add a link</h3>
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input autofocus #newTitle type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
        <label for="link" class="form-label">Link:</label>
        <input #newLink type="text" class="form-control" id="link">
    </div>
    <button (click)="addArticle(newTitle, newLink)" type="button" class="btn btn-primary">Submit link</button>
</form>
<div *ngIf="articles$ | async as articles" class="container">
    <ng-container *ngFor="let article of articles">
        <app-article [article]="article"></app-article>
    </ng-container>
</div>